PROD_POSTGRES_USER=postgres
PROD_POSTGRES_PASSWORD=change_me
PROD_POSTGRES_DB=AutomateX
DOCKER_USERNAME=yourdockerhubuser
PROD_DATABASE_URL=postgresql://postgres:change_me@automatekit-postgres-prod:5432/AutomateX
PROD_REDIS_HOST=automatekit-redis-prod
PROD_REDIS_PORT=6379
PROD_SERVER_PORT=8000
PROD_APP_URL=https://yourapp.com
PROD_API_BASE_URL=https://api.yourapp.com
PROD_ACCESS_SECRET=replace_with_long_random_string
PROD_REFRESH_SECRET=replace_with_long_random_string
PROD_GOOGLE_CLIENT_ID=
PROD_GOOGLE_CLIENT_SECRET=
PROD_GOOGLE_REDIRECT_URI=https://api.yourapp.com/api/v1/auth/google/callback
