DOCKER_USERNAME=abhradeep06barman
NODE_ENV=production

POSTGRES_USER=automatekit
POSTGRES_PASSWORD=whothehellisthis
POSTGRES_DB=ak-prod-db

REDIS_PASSWORD=whothehellisthis


# SERVER 
PORT=8000
DATABASE_URL=
ACCESS_SECRET=
REFRESH_SECRET=
APP_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=


# EXECUTOR
REDIS_URL=